@import url("../patterns/phone.css");

header.wp-block-template-part {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0);
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--wp--preset--color--base);
  --header-end: calc(var(--wp-admin--admin-bar--height, 0) + 81px);
}

.header {
  border-bottom: 1px solid #ebebeb;
  padding: 10px 16px;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: calc(var(--wp--style--global--content-size) + 40px);
  margin: 0 auto;
  gap: 34px;
}

.header__logo {
  display: flex;
  align-items: center;
  font-family: var(--wp--preset--font-family--montserrat);
  gap: 8px;
}

.header__logo p {
  margin: 0;
  font-size: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem);
  font-weight: 500;
}

.header__logo p strong {
  font-weight: 700;
  font-size: clamp(0.8125rem, 0.725rem + 0.4375vw, 1.25rem);
}

.header__logo a {
  text-decoration-line: none;
}

@media screen and (max-width: 1424px) {
  .header__container {
    gap: 16px;
  }
}

@media screen and (max-width: 1250px) {
  .header__container .phone,
  .header__container .wp-block-ross-google-rating {
    display: none;
  }
}

@media screen and (max-width: 928px) {
  header.wp-block-template-part {
    --header-end: calc(var(--wp-admin--admin-bar--height, 0) + 91px);
  }

  .header {
    padding: 25px 16px 25px 10px;
  }

  .header__logo img {
    width: 43px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  header.wp-block-template-part {
    top: 0;
    --header-end: 91px;
  }
}
