.wp-block-ross-slider {
  display: flex;
  gap: 16px;

  .block-editor-inner-blocks,
  .block-editor-block-list__layout {
    display: contents;
  }

  .wp-block-ross-slider-slide {
    max-width: 460px;
    min-width: 200px;
  }

  * {
    box-sizing: border-box;
  }
}
