.wp-block-ross-services-item {
  padding: 32px;
  margin: 0;
  background-color: var(--bg-color);
  position: relative;
  color: var(--text-color);
  flex: 1;
  min-height: 400px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    bottom: -1px;
    right: -1px;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    background-color: var(--secondary-bg-color);
    display: block;
  }

  &:not(:last-child) {
    margin-right: 32px;
  }

  &__title {
    font-weight: 600;
    font-size: clamp(1.375rem, 1.325rem + 0.25vw, 1.625rem);
    line-height: 140%;
    margin: 0;
    position: relative;
    z-index: 3;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    max-width: 100%;
  }

  .wp-block-navigation {
    margin-top: 10px;
    position: relative;
    z-index: 3;
  }

  .wp-block-navigation-item {
    padding-left: 30px;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    margin-bottom: 8px;

    &::before {
      content: "";
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 14px;
      background-color: currentColor;
      -webkit-mask: url("./arrow.svg") no-repeat center;
      mask: url("./arrow.svg") no-repeat center;
      mask-size: contain;
    }

    a {
      transition: all 0.2s ease;

      &:hover {
        color: var(--text-overlay-color);
      }
    }
  }
}

@media screen and (max-width: 928px) {
  .wp-block-ross-services-item {
    min-height: 466px;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 54px;
    }

    &__image {
      max-height: 303px;
    }
  }
}
