.wp-block-ross-accordion {
  &__title {
    font-size: clamp(1.625rem, 1.35rem + 1.375vw, 3rem);
    font-weight: 500;
  }

  &__wrapper {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }

  &__List {
    flex-basis: 546px;
    list-style: none;
  }

  &__image {
    flex-basis: 845px;
    margin-top: 6px;
    flex-shrink: 1;
    min-width: 0;
    max-width: 100%;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .wp-block-ross-accordion {
    &__wrapper {
      flex-direction: column;
      margin-top: 16px;
    }

    &__List {
      flex-basis: 0;
    }

    &__image {
      flex-basis: 0;
      flex-shrink: 0;
      margin-top: 0;
      max-width: 100vw;
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
}
