.wp-block-ross-hedaer-menu-item {
  position: relative;
  color: var(--text-color);

  &__title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
    text-align: center;
  }

  nav.wp-block-navigation {
    position: absolute;
    z-index: 3;
    top: 95%;
    left: 0;
    overflow: hidden;
    max-height: 0;
    transition:
      max-height 200ms cubic-bezier(0.4, 0.4, 0.8, 0.8),
      padding-top 200ms cubic-bezier(0.4, 0.5, 0.8, 0.9);
  }

  ul.wp-block-navigation {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    width: 344px;
    padding: 10px 4px;
  }

  .wp-block-navigation-item a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 16px;
    text-decoration: none;

    &:hover {
      color: var(--text-overlay-color);
    }
  }
}

@media screen and (min-width: 928px) {
  .wp-block-ross-hedaer-menu-item {
    &:hover &__title {
      color: var(--text-overlay-color);
    }

    &:hover nav.wp-block-navigation {
      padding-top: 40px;
      max-height: calc(var(--max-height, 360px) + 40px);
    }
  }
}

@media screen and (max-width: 928px) {
  .wp-block-ross-hedaer-menu-item {
    padding: 16px 0;
    width: 100%;

    nav.wp-block-navigation {
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
    }

    ul.wp-block-navigation {
      background: #f6f6f6;
      border-radius: 2px;
      padding: 16px 0px;
      width: 100% !important;
      transition:
        max-height 400ms linear,
        padding-top 300ms linear;
    }

    .wp-block-navigation-item {
      width: 100%;

      a {
        width: 100%;
        text-align: center;
        font-size: 13px;
      }
    }

    &.active {
      nav.wp-block-navigation {
        padding-top: 10px;
        max-height: calc(var(--max-height, 360px) + 10px);
        transition:
          max-height 400ms ease-out,
          padding-top 300ms linear;
      }
    }
  }
}
