div.wp-block-ross-services {
  display: flex;
  width: 100%;
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 928px) {
  div.wp-block-ross-services {
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 54px;
    }

    &:last-child {
      margin-bottom: 103px;
    }
  }
}
