.map {
  margin: 20px 0 160px !important;
}

.map__title {
  font-size: clamp(1.625rem, 1.35rem + 1.375vw, 3rem);
  font-weight: 500;
  line-height: 141%;
}

@media screen and (max-width: 600px) {
  .map {
    margin: 24px 0 60px !important;
  }
}
