.partners {
  margin: 100px 0;
  width: 100vw;
  max-width: 100vw;
}

.partners__container {
  padding: 32px 80px 60px;
}

.partners__title {
  font-weight: 500;
  font-size: clamp(1.625rem, 1.55rem + 0.375vw, 2rem);
  line-height: 120%;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 480px) {
  .partners {
    margin: 40px 0 60px;
  }

  .partners__container {
    padding: 40px 16px;
  }
}
