@import url("../patterns/partners.css");

.footer {
  background-color: #1a202c;
  color: var(--wp--preset--color--base, #fff);
  padding-top: 60px;
  padding-bottom: 18px;
}

.footer__logo {
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
}

.footer__logo a {
  text-decoration: none;
}

.footer__logo strong {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}
