@import url("../patterns/phone.css");

.header {
  border-bottom: 1px solid #ebebeb;
  padding: 10px 16px;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: calc(var(--wp--style--global--wide-size) + 40px);
  margin: 0 auto;
  gap: 34px;
}

.header__logo {
  display: flex;
  align-items: center;
  font-family: var(--wp--preset--font-family--montserrat);
  gap: 8px;
}

.header__logo p {
  margin: 0;
  font-size: clamp(0.8125rem, 0.725rem + 0.4375vw, 1.25rem);
  font-weight: 500;
}

.header__logo p strong {
  font-weight: 700;
}

.header__logo a {
  text-decoration-line: none;
}
