.wp-block-ross-partner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wp--preset--color--base);
  max-width: 100%;
  aspect-ratio: 260/120;

  &__image {
    aspect-ratio: 121/70;
    object-fit: contain;
    max-width: 80%;
  }
}
