.wp-block-ross-partner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 120px;
  background-color: var(--wp--preset--color--base);
  max-width: 100%;

  &__image {
    width: 121px;
    height: 70px;
    object-fit: contain;
  }

  @media screen and (max-width: 480px) {
    height: 60px;

    .wp-block-ross-partner__image {
      width: 83px;
      height: 48px;
    }
  }
}
